@font-face {
    font-family: defaultFont;
    src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf');
}

*{
    font-family: defaultFont;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    background-image: linear-gradient(to right bottom,#c94747, #171717);
    flex-direction: column;
    /*#c94747 cor antiga    */
}

#title{
    font-size: 30px;
    color: rgb(255, 223, 223);
    width: 100%;
    backdrop-filter: blue(10px);
    background-color: rgba(0, 0, 0, 50%);
    height: 40px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#songs{
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    height: auto;
    padding-bottom: 60px;
}

.song{
    width: 138px;
    height: 220px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 20px;
    margin: 10px;
}

.song p{
    text-align: center;
    color: white;
}

.song button{
    background-color: #c94747;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
}

.song img{
    width: 100%;
    border-radius: 10px;
}

#modal{
    width: 100vw;
    height: 93vh;
    background-image: linear-gradient(to right bottom,#c94747, #171717);
    flex-direction: column;
    position: fixed;
    display: none;
}

#modal p, audio{
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

#modal img{
    width: 310px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
}

#modal button{
    background-color: #c94747;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    font-size: 30px;
}

#modal label{
    text-align: center;
    color: white;
    font-size: 20px;
}

#menu-buttons{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    transform: translateY(1158%);
    flex-direction: row;
    border-radius: 10px 10px 0px 0px;
}

#menu-buttons button{
    width: 50%;
    background-color: rgb(27, 27, 27);
    border: none;
    color: white;
}

#menu-buttons img{
    width: 40px;
    height: 40px;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#playlistContainer{
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    height: auto;
    padding-bottom: 60px;
}
